<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>breadboard</title>
    <link href="/css/fontawesome.min.css" rel="stylesheet">
    <link href="/css/solid.min.css" rel="stylesheet">
    <link href="/css/regular.min.css" rel="stylesheet">
    <link href="/css/brands.min.css" rel="stylesheet">
    <link href="./global.css" rel="stylesheet" />
    <% if (agent === "electron") { %>
    <link href="./electron.css" rel="stylesheet" />
    <% } %>
    <style>
    body.default #select { border: 1px solid royalblue; background: royalblue; color: white; }
    body.dark #select { border: 1px solid cornflowerblue; background: cornflowerblue; color: white; }
    body.default button.add { border: 1px solid royalblue; background: royalblue; color: white; }
    body.dark button.add { border: 1px solid cornflowerblue; background: cornflowerblue; color: white; }
    body.default #reindex2 { border: 1px solid royalblue; color: royalblue; background: none; }
    body.dark #reindex2 { border: 1px solid cornflowerblue; color: cornflowerblue; background: none; }
    </style>
  </head>
  <body class="<%=theme%>" data-style="<%=style%>">
    <div id='bar'></div>
    <nav class="<%=platform%>">
      <div class='nav-unit left-menu'>
        <a title="home" class='btn' href="/"><i class="fa-solid fa-house"></i></a>
        <button title='back' id='prev'><i class="fa-solid fa-chevron-left"></i></button>
        <button title='forward' id='next'><i class="fa-solid fa-chevron-right"></i></button>
        <a id='bookmarked-filters' title="bookmarked filters" class='btn' href="/favorites"><i class="fa-solid fa-star"></i></a>
        <a id='favorited-items' title="liked items" class='btn' href="/?query=tag:favorite"><i class="fa-solid fa-heart"></i></a>
        <div class='right-menu'>
          <div class='flexible'></div>
          <button id='show-menu'><i class="fa-solid fa-bars"></i></button>
        </div>
      </div>
      <div class='status'></div>
      <div class='search-box minimal'>
        <input type='search' placeholder='search' class='search flexible'>
      </div>
      <div class='nav-unit nav-actions'>
        <a id='settings-option' title="settings" class='btn' href="/settings"><i class="fa-solid fa-gear"></i></a>
        <a id='help-option' title="information and community" class='btn' href="/help"><i class="fa-solid fa-question"></i></a>
        <button id='new-window' title='open a new window'><i class="fa-solid fa-plus"></i></button>
      </div>
    </nav>
    <div class='settings'></div>
    <script src="./socket.io.js"></script>
    <script src='./popper.js'></script>
    <script src='./tippy.js'></script>
    <script src="./modules/api.js"></script>
    <script>
    const VERSION = "<%=version%>"
    const AGENT = "<%=agent%>"
    const api = new API({ agent: AGENT })

    const init_theme = async () => {
      let res = await api.getSetting('theme')
      let theme = res.val || "default"
      document.body.className = theme
      document.querySelector("html").className = theme
      api.theme(theme)
    }

    const template = (path) => {
      return `<div class='row'>
      <div>${path}</div>
      <div class='flexible'></div>
      <button class='del' data-name='${path}'><i class="fa-solid fa-xmark"></i> Disconnect</button>
</div>`
    }

    const renderSettings = async () => {
      let folders = await api.getFolders()
      let folderPaths = folders.map(f => f.path)
      let rows
      if (folderPaths.length > 0) {
        rows = folderPaths.map(template).join("")
      } else {
        <% if (agent === "web") { %>
          rows = `<div class='center-faded'>Connect folders from the recommended list below.</div>`
        <% } else { %>
          rows = "<div class='center-faded'>Click 'connect a folder' to connect a folder to breadboard.</div>"
        <% } %>
      }

      document.querySelector(".settings").innerHTML = `<main>
      <div class='header'>
        <a class='link' href="/settings"><i class="fa-solid fa-angles-left"></i> settings</a>
      </div>
      <br><br>
      <div class='header'>
        <h2>Connected Folders</h2>
        <div class='flexible'></div>
        <% if (agent !== "web") { %>
          <button id='select'><i class="fa-solid fa-folder-plus"></i> Connect a folder</button>
        <% } %>
        <a id='reindex2' class='btn hidden' href="/?synchronize=default"><i class="fa-solid fa-rotate"></i> Synchronize</a>
      </div>
      <div class='rows'>
      ${rows}
      </div>
    </main>`

      <% if (query.sync_needed) { %>
        document.querySelector("#reindex2").classList.remove("hidden")
      <% } %>

      document.querySelector("#prev").addEventListener("click", () => history.back())
      document.querySelector("#next").addEventListener("click", () => history.forward())

      <% if (agent !== "web") { %>
      document.querySelector("#select").addEventListener('click', async (e) => {
        e.preventDefault()
        let paths = await api.select()
        if (paths && paths.length > 0) {
          for (let p of paths) {
            await api.addFolder(p)
          }
          location.href = location.href + "?sync_needed=true"
        }
      })
      <% } %>

      document.querySelector(".settings").addEventListener("click", async (e) => {
        let delTarget = e.target.classList.contains("del") ? e.target : e.target.closest(".del")
        if (delTarget) {
          e.preventDefault()
          const confirmed = confirm("Disconnect the folder?")
          if (confirmed) {
            let name = delTarget.getAttribute("data-name")
            await api.removeFolder(name)
            location.href = location.href
          }
        }
      })

      document.querySelector(".search").addEventListener("keyup", (e) => {
        if (e.key === "Enter") location.href = "/?query=" + e.target.value
      })
    }

    ;(async () => {
      await init_theme()
      await renderSettings()
    })()
    </script>
  </body>
</html>
