<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>breadboard</title>
    <link href="/css/fontawesome.min.css" rel="stylesheet">
    <link href="/css/solid.min.css" rel="stylesheet">
    <link href="/css/regular.min.css" rel="stylesheet">
    <link href="/css/brands.min.css" rel="stylesheet">
    <link href="./global.css" rel="stylesheet" />
    <% if (agent === "electron") { %>
    <link href="./electron.css" rel="stylesheet" />
    <% } %>
  </head>
  <body class="<%=theme%>" data-style="<%=style%>">
    <div id='bar'></div>
    <nav class="<%=platform%>">
      <div class='nav-unit left-menu'>
        <a title="home" class='btn' href="/" class='btn'><i class="fa-solid fa-house"></i></a>
        <button title='back' id='prev'><i class="fa-solid fa-chevron-left"></i></button>
        <button title='forward' id='next'><i class="fa-solid fa-chevron-right"></i></button>
        <a id='bookmarked-filters' title="bookmarked filters" class='btn' href="/favorites"><i class="fa-solid fa-star"></i></a>
        <a id='favorited-items' title="liked items" class='btn' href="/?query=tag:favorite"><i class="fa-solid fa-heart"></i></a>
        <div class='right-menu'>
          <div class='flexible'></div>
          <button id='show-menu'><i class="fa-solid fa-bars"></i></button>
          <button id='minimize' title='minimize to player mode'><i class="fa-solid fa-bars"></i></button>
        </div>
      </div>
      <div class='status'></div>
      <div class='search-box minimal'>
        <input type='search' placeholder='search' class='search flexible'>
      </div>
      <div class='nav-unit nav-actions'>
        <a id='settings-option' title="settings" class='btn' href="/settings"><i class="fa-solid fa-gear"></i></a>
        <a id='help-option' title="information and community" class='btn' href="/help"><i class="fa-solid fa-question"></i></a>
        <button id='new-window' title='open a new window'><i class="fa-solid fa-plus"></i></button>
      </div>
    </nav>
    <div class='settings'></div>
    <script src="./socket.io.js"></script>
    <script src='./popper.js'></script>
    <script src='./tippy.js'></script>
    <script src="./modules/api.js"></script>
    <script>
    const AGENT = "<%=agent%>"
    const VERSION = "<%=version%>"
    const MACHINE_VERSION = "<%=machine_version%>"
    const api = new API({ agent: AGENT })

    const init_theme = async () => {
      let res = await api.getSetting('theme')
      let theme = res.val || "default"
      document.body.className = theme
      document.querySelector("html").className = theme
      api.theme(theme)
    }

    const renderSettings = async () => {
      let folders = await api.getFolders()
      let rows
      if (folders.length > 0) {
        rows = folders.map((r) => {
          let query = `file_path:"${r.path}"`
          return `<div class='row'>
          <div><a href="/?query=${encodeURIComponent(query)}">${r.path}</a></div>
          <div class='flexible'></div>
          <button class='reindex-folder' data-name='${r.path}'><i class="fa-solid fa-rotate"></i> Re-index</button>
      </div>`
        }).join("")
      } else {
        rows = "<div class='center-faded'>To get started, click 'edit' to connect folders</div>"
      }

      document.querySelector(".settings").innerHTML = `<main>
      <div class='header'>
        <h2>Version</h2>
      </div>
      <div class='rows'>
        <div class='row'>AGENT: ${AGENT} ${VERSION}</div>
        <div class='row'>CORE: ${MACHINE_VERSION}</div>
      </div>
      <br><br>
      <div class='header'>
        <h2>Connected Folders</h2>
        <div>&nbsp;&nbsp;</div>
        <a href="/connect" class='btn primary'><i class="fa-regular fa-pen-to-square"></i> Edit</a>
      </div>
      <div class='rows'>
      ${rows}
      </div>
      <br><br>
      <div class='header'>
        <h2>Theme</h2>
        <div class='flexible'></div>
      </div>
      <div class='rows'>
        <div class='row'>
          <button id='dark-theme'><i class="fa-solid fa-moon"></i> Dark</button>
          <button id='default-theme'><i class="fa-regular fa-sun"></i> Light</button>
        </div>
      </div>
      <br><br>
      <div class='header'>
        <h2>Re-index</h2>
        <div class='flexible'></div>
      </div>
      <div class='rows'>
        <div class='row'>
          <button id='reindex'><i class="fa-solid fa-rotate"></i> Re-index from Scratch</button>
        </div>
      </div>
      <% if (agent === "electron") { %>
        <br><br>
        <div class='header'>
          <h2>Debug</h2>
          <div class='flexible'></div>
        </div>
        <div class='rows'>
          <div class='row'>
            <button id='debug'><i class="fa-solid fa-terminal"></i> Debug</button>
          </div>
        </div>
      <% } %>
    </main>`

      document.querySelector("#prev").addEventListener("click", () => history.back())
      document.querySelector("#next").addEventListener("click", () => history.forward())

      document.querySelector("#reindex").addEventListener("click", async (e) => {
        e.preventDefault()
        location.href = "/?synchronize=reindex"
      })

      <% if (agent === "electron") { %>
      document.querySelector("#debug").addEventListener('click', (e) => {
        e.preventDefault()
        api.debug()
      })
      <% } %>

      document.querySelector(".settings").addEventListener("click", async (e) => {
        let reindexTarget = e.target.classList.contains("reindex-folder") ? e.target : e.target.closest(".reindex-folder")
        if (reindexTarget) {
          e.preventDefault()
          let name = reindexTarget.getAttribute("data-name")
          location.href = "/?synchronize=reindex_folder&sync_folder=" + encodeURIComponent(name)
        }
      })

      document.querySelector("#dark-theme").addEventListener('click', async (e) => {
        e.preventDefault()
        await api.setSetting('theme', 'dark')
        await init_theme()
      })
      document.querySelector("#default-theme").addEventListener('click', async (e) => {
        e.preventDefault()
        await api.setSetting('theme', 'default')
        await init_theme()
      })
      document.querySelector(".search").addEventListener("keyup", (e) => {
        if (e.key === "Enter") location.href = "/?query=" + e.target.value
      })
    }

    ;(async () => {
      await init_theme()
      await renderSettings()
    })()
    </script>
  </body>
</html>
